<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<h1>Hello, <span th:text="${username}">username</span>!</h1>

<form th:action="@{/cars/customer/all}" method="get">
  <button type="submit">View available cars</button>
</form><br>

<form th:action="@{/customer/cars}" method="get">
  <button type="submit">Your cars</button>
</form><br>

<form th:action="@{/logout}" method="post">
  <button type="submit">Logout</button>
</form><br>

</body>
</html>